<!DOCTYPE html>
<html lang="{{ user_language }}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="description" content="{{ _('Everything you ever wanted to know about Iriscot.') }}" />
    <title>Iriscot</title>

    <meta name="author" content="Iriscot">
    <meta name="keywords" content="Iriscot, Anime, Artworks, Digital, Software">
    <meta name="theme-color" content="#000">
    <link rel="canonical" href="https://iriscot.org/">
    <meta property="og:title" content="Iriscot">
    <meta property="og:description" content="{{ _('Everything you ever wanted to know about Iriscot.') }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.jpg') }}">
    <meta property="og:url" content="https://iriscot.org/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Iriscot's website">
</head>

<body>
<noscript>
<img src="https://shynet.iriscot.org/ingress/044207e9-8350-40ea-91bf-2ec15e5bb6f6/pixel.gif">
</noscript>
<script defer src="https://shynet.iriscot.org/ingress/044207e9-8350-40ea-91bf-2ec15e5bb6f6/script.js"></script>

	<header class="is-align-content-center is-justify-content-center is-flex is-flex-direction-column">
		<h1>{{ _('Hi, I am Iriscot') }}</h1>
		<h2 class="alsoknown">a.k.a. Mikami North</h2>
	</header>

	<main>

<section class="title_section all_the_links">

    <div class="center">
            <h2 class="section_title">{{ _('My media') }}</h2>
        </div>
<div class="projects">
    {% for etc in media.etc.cards %}
    <a href="{{ etc.link }}">
    <div class="project hover_flashlight">
        <img class="circle-image" src="{{ url_for('static', filename='images/' + etc.image) }}" alt="{{ etc.name }}">
        <div class="text-content">
            <span class="project-title">
                {{ etc.name }}
                {% if etc.lang != user_language %}
                <span class="lang_code">{{ etc.lang }}</span>
                {% endif %}
            </span>
            <p class="project-desc">{{ etc.desc }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<div class="center links-after">
    <p>
    {% for link in media.etc.links %}
            <a class="button is-dark" href="{{ link.href }}">{{ link.title }}
                {% if link.lang != user_language %}
                <span class="lang_code">{{ link.lang }}</span>
                {% endif %}
                </a>
    {% endfor %}
</p>
</div>

        <div class="center">
            <h2 class="section_title">{{ _('Artworks') }}</h2>
        </div>
<div class="projects is-flex is-align-content-center">
    <div class="image-grid">
        {% for artwork in artworks %}
        <div class="image-item">
            <img src="{{ artwork }}" alt="Artwork">
        </div>
        {% endfor %}
    </div>
</div>

<div class="center links-after">
    <p>
    {% for link in media.artworks.links %}
            <a class="button is-dark" href="{{ link.href }}">{{ link.title }}
                {% if link.lang != user_language %}
                <span class="lang_code">{{ link.lang }}</span>
                {% endif %}
                </a>
    {% endfor %}
</p>
</div>


        <div class="center">
            <h2 class="section_title">{{ _('Software') }}</h2>
        </div>
<div class="projects">
    {% for project in media.projects.cards %}
    <a href="{{ project.link }}">
    <div class="project hover_flashlight">
        <img class="circle-image" src="{{ url_for('static', filename='images/' + project.image) }}" alt="{{ project.name }}">
        <div class="text-content">
            <span class="project-title">
                {{ project.name }}
            </span>
            <p class="project-desc">{{ project.language }} &middot; {{ project.year }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>

<div class="center links-after">
    <p>
    {% for link in media.projects.links %}
            <a class="button is-dark" href="{{ link.href }}">{{ link.title }}
                {% if link.lang != user_language %}
                <span class="lang_code">{{ link.lang }}</span>
                {% endif %}
                </a>
    {% endfor %}
</p>
</div>

</section>

<section class="talk">
    <img src="{{ url_for('static', filename='images/likes.webp') }}" alt="Thumbs up icons" class="talk_bg">
    <h1>{{ _('Want to talk?') }}</h1>
    <p>{{ _('If you just want to chat, message me on <a href="http://t.me/iriscot">Telegram</a> or send an email to <a href="mailto:me@iriscot.org">me@iriscot.org</a>!') }}</p>
    <p>{{ _('I also offer paid consultations in psychology or IT (development, infosec).') }}</p>
</section>

	</main>

<footer>
<div class="columns">
<div class="column copyleft">&copy; Iriscot Software {{ current_year }}</div>
<div class="column current_time has-text-centered">{{ _('It is') }} <span id="time">GMT+3</span> {{ _('in my timezone now') }}</div>
<div class="column languages_selector right">
{% if user_language == 'ru' %}
<a href="?lang=en">In English</a>
{% else %}
<a href="?lang=ru">По-русски</a>
{% endif %}
</div>
</div>
</footer>

</body>

  <script>
    // Select all card elements
    var cards = document.querySelectorAll('.hover_flashlight');

    // Add event listener to each card for the hover effect
    cards.forEach(function(card) {
      card.addEventListener('mousemove', function(e) {
        const x = e.pageX - card.offsetLeft;
        const y = e.pageY - card.offsetTop;


        card.style.setProperty('--x', x + 'px');
        card.style.setProperty('--y', y + 'px');
      });
    });


    function updateTime() {
        var gmtPlus3 = new Date(new Date().getTime() + (3 * 60 * 60 * 1000)); // Get current time and add 3 hours for GMT+3

        var hours = gmtPlus3.getUTCHours().toString().padStart(2, '0');
        var minutes = gmtPlus3.getUTCMinutes().toString().padStart(2, '0');
        var seconds = gmtPlus3.getUTCSeconds().toString().padStart(2, '0');

        var timeString = hours + ':' + minutes + ':' + seconds;
        document.getElementById('time').textContent = timeString;
    }

    updateTime(); // Call the function once to display the initial time

    // Update time every second
    setInterval(updateTime, 1000);
</script>

</html>